/* end of a button */
.upper-buttons {
	display: flex;
	margin: 0rem 5rem 2rem 5rem;
}
.draw-border {
	box-shadow: inset 0 0 0 0.3rem #688A19;
	color: #273469;
	transition: color 0.25s 0.08s;
	position: relative;
	&::before {
		border: 0 solid transparent;
		box-sizing: border-box;
		content: "";
		pointer-events: none;
		position: absolute;
		width: 0;
		height: 0;
		bottom: 0;
		right: 0;
		border-bottom-width: 4px;
		border-left-width: 4px;
	}
	&::after {
		border: 0 solid transparent;
		box-sizing: border-box;
		content: "";
		pointer-events: none;
		position: absolute;
		width: 0;
		height: 0;
		bottom: 0;
		right: 0;
		border-top-width: 4px;
		border-right-width: 4px;
	}
	&:hover {
		color: #708807;
		&::before {
			border-color: #DCF763;
			transition: border-color 0s, width 0.25s, height 0.25s;
			width: 100%;
			height: 100%;
			transition-delay: 0s, 0s, 0.25s;
		}
		&::after {
			border-color: #DCF763;
			transition: border-color 0s, width 0.25s, height 0.25s;
			width: 100%;
			height: 100%;
			transition-delay: 0s, 0.25s, 0s;
		}
	}
}
.btn {
	background: none;
	border: none;
	cursor: pointer;
	line-height: 1.5;
	font: 700 1.2rem "Roboto Slab", sans-serif;
	padding: 1em 2em;
	letter-spacing: 0.05rem;
	margin: -1.3rem 0.5rem 0 0.5rem;
	&:focus {
		outline: 0.2rem dotted #55d7dc;
	}
}
.temp {
	font: 26px arial,helvetica,sans-serif;
}
