.city-box {
	background: #FAFAFF;
	font-family: "Nunito Sans",sans-serif;
	font-size: 2rem;
	color: #3a3838;
	padding: 1rem;
	float: left;
	border: 0.3rem solid #688A19;
	border-radius: 5rem;
}
.wrapper-city-icon {
	display: flex;
	color: #000;
	margin: 1rem;
	justify-content: space-around;
	flex-direction: row;
	align-items: center;
	line-height: 5rem;
}
.wrapper-box {
	display: flex;
	justify-content: center;
	align-items: center;
}
.wrapper-params {
	display: flex;
	justify-content: center;
	line-height: 1.125rem;
	font-size: 1.5rem;
}
.param-value {
	padding: 1rem 1rem 1rem 1rem;
	border: 0.1rem solid #F6AE2D;
}
.param-name {
	padding: 1rem 1rem 1rem 4rem;
	border: 0.1rem solid #F6AE2D;
}
.left {
	border-top: 0.1rem solid transparent;
	border-right: 0.1rem solid transparent;
	border-left: 0.1rem solid #F6AE2D;
}
.right {
	border-top: 0.1rem solid transparent;
	border-left: 0.1rem solid transparent;
	border-right: 0rem solid #F6AE2D;
}
.bottom {
	border-bottom: 0.1rem solid transparent;
}
.add-city {
	display: flex;
	max-width: 100%;
  justify-content: center;
	align-items: center;
  width: 100%;
  height: 100%;
	overflow: hidden;
	&:hover {
		cursor: pointer;
	}
}