li {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 1.6rem;
	color: #ecf0f1;
	text-decoration: none;
}
a {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 1.6rem;
	color: #ecf0f1;
	text-decoration: none;
}
button {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 1.6rem;
	color: #ecf0f1;
	text-decoration: none;
}
.header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 1rem 10%;
	background-color: #00241B;
}
.header__logo {
	margin-right: auto;
	>img {
		height: 4rem;
	}
}
.header__links {
	list-style: none;
	display: flex;
	a {
		font-family: "Montserrat", sans-serif;
		font-weight: 500;
		color: #edf0f1;
		text-decoration: none;
	}
	li {
		padding: 0px 2rem;
		a {
			transition: all 0.3s ease 0s;
			&:hover {
				color: #0088a9;
			}
		}
	}
}
.cta {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	color: #edf0f1;
	text-decoration: none;
	margin-left: 2rem;
	padding: 0.9rem 2.5rem;
	background-color: rgba(0, 136, 169, 1);
	border: none;
	border-radius: 5rem;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	&:hover {
		background-color: rgba(0, 136, 169, 0.8);
	}
}
.overlay__content {
	a {
		font-family: "Montserrat", sans-serif;
		font-weight: 500;
		color: #edf0f1;
		text-decoration: none;
	}
}
