input {
    outline: none;
    display: block;
    width: 100%;
    margin: 0 0 20px;
    padding: 10px 15px;
    border: 1px solid #ccc;
    color: rgb(0, 0, 0);
    font-family: "Roboto";
    box-sizing: border-box;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: 0.2s linear;
    &input:focus {
      color: #333;
      border: 1px solid #44c4e7;
    }
  }
  button {
    cursor: pointer;
    background: #44c4e7;
    width: 100%;
    padding: 10px 15px;
    border: 0;
    color: #fff;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
    &:hover {
      background: #369cb8;
    }
  }
